@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "Arimo", sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: auto;
  width: auto;
  color: #f8f9f9;
  background-color: #000508;
}
/* nav bar */
nav {
  /* border-radius: 10px; */
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.logo {
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  margin-right: 40%;
}
.links {
  display: flex;
  gap: 10px;
  list-style: none;
}
li a {
  padding: 7px;
  border-radius: 10px;
  font-size: 20px;
  color: #f8f9f9;
  text-decoration: none;
  background: transparent;
  transition: color 300ms linear;
}
li a:hover {
  color: #2563eb;
  text-shadow: 0 0 15px #2563eb;
}
/* body part */
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  width: auto;
}
.text {
  padding-top: 40px;
  padding-left: 40px;
  /* background-color: #5b3b3b; */
  height: 60%;
  width: 50%;
}
.text h1 {
  font-size: 50px;
  padding-top: 30px;
}
.text h2 {
  padding-top: 30px;
  font-size: 30px;
}
.text p {
  padding-top: 30px;
  /* padding: 30px 80px 30px 0; */
  line-height: 25px;
}
.social-media {
  padding-top: 30px;
  font-size: 35px;
  /* color: #2563eb; */
  cursor: pointer;
  transition:
    color 500ms linear,
    text-shadow 500ms linear;
}

.social-media i:hover {
  color: #2563eb;
  text-shadow: 0 0 25px #2563eb;
}

/* image attributes */
img {
  height: 500px;
  width: auto;
  padding-right: 20%; /*setting image position  */

  /* background-color: #2563eb; */
}
