body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #121826;
}
.nav1 {
  padding: 30px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-size: 25px;
}
.nav1 a {
  text-decoration: none;
  color: #e5e7eb;
}

.resume {
  margin-right: auto;
  font-size: 40px;
}
.textimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.text {
  font-weight: bold;
  margin-top: 120px;
  margin-left: 40px;
  color: #e5e7eb;
  font-size: 40px;
  line-height: 1.5;
}
.rohit {
  color: #46befa;
  font-weight: bold;
  font-size: 60px;
}
.bio {
  font-size: 20px;
  line-height: 1;
}
img {
  margin-top: 100px;
  height: 500px;
  border-radius: 10px;
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}
.social {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px;
}
.social a {
  color: #0ef;
  border: 5px solid #0ef;
  padding: 5px;
  text-decoration: none;
  border-radius: 20%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download {
  color: black;
  background-color: #0ef;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  font-size: 30px;
}
